/* RESET/BASE */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* MENU */

.navbar,
.nav-link,
.dropdown-link {
	color: #333;
}

.nav-item,
.dropdown-item {
	display: inline-block;
	padding: 1rem;
	position: relative;
}

.nav-item:hover,
.dropdown-item:hover {
	cursor: pointer;
	background-color: navy;
	color: white;
}

.nav-link:hover,
.dropdown-link:hover {
	color: white;
}

.dropdown {
	display: none;
}
