/* RESET/BASE */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* MENU */

.navbar,
.nav-link,
.dropdown-link {
	color: #333;
}

.nav-item,
.dropdown-item {
	display: inline-block;
	padding: 1rem;
	position: relative;
}

.nav-item:hover {
	cursor: pointer;
	background-color: navy;
	color: white;
}

.nav-item:hover .nav-link {
	color: white;
}

.dropdown {
	display: none;
}

/* Show nested dropdown */

.nav-item:hover .dropdown {
	display: block;
	position: absolute;
	left: 0;
	width: 200px;
	margin-top: 1rem;
}

.nav-item:hover .dropdown-item {
	display: block;
	background-color: #e7e7e7;
}

.nav-item:hover .dropdown-item:hover {
	background-color: #e0e0e0;
	cursor: pointer;
}

/* Spans */

.nav-item:hover .posts {
	float: right;
	color: white;
	background-color: navy;
	padding: 0.2rem 0.5rem;
	text-align: center;
	font-size: 0.75rem;
	border-radius: 5px;
	font-weight: bold;
}

.nav-item:hover .dropdown-item:hover .posts {
	background: mediumblue;
}
